<!DOCTYPE html>
<html>
  <head>
    <title>Malcolm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://kit.fontawesome.com/2db3978dbc.css" crossorigin="anonymous"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
src="https://js.sentry-cdn.com/18e2ea949451dd2391338575eed0e006.min.js"
  crossorigin="anonymous"
></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "stylesheet" %>
  </head>

  <body>
      <%= yield %>
    </div>
        <%= javascript_include_tag 'script' %>
        <%= javascript_include_tag 'weather' %>
  </body>
</html>
